:root {
    --cor-de-fundo-principal: #FBFBFB;
    --cor-de-fundo-inicio: #000000;
    --cor-de-fundo-secundario: #22A71F;
    --cor-de-fundo-premium: #;
    --cor-de-fundo-plano: #D9D9D9;
    --cor-de-fundo-final: #000000;
    --cor-do-botao: #000000;
    --cor-do-botao-plano: #22A71F;
    --fonte-principal: "Inter";
    --cor-da-fonte: #FBFBFB;
    --cor-aviso: #c0c0c0;

}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

header {
    background-color: var(--cor-de-fundo-inicio);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70%;
    border: 5px
}

nav a {
    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
}

.barra-vertical {
    color: var(--cor-da-fonte);
    padding-right: 10px;
    width: 20px;
}

.container__secundario {
    background-color: var(--cor-de-fundo-secundario);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6em 20%;
}

.premium__mensal {
    color: var(--cor-da-fonte);
    font-size: 40px;
}

.valor__mensal {
    color: var(--cor-da-fonte);
    font-size: 15px;
    margin-top: 1em;
}

.container__botao a {
    border-radius: 20px;
    padding: 1em;
    color: var(--cor-da-fonte);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao {
    justify-content: flex-start;
    display: flex;
    margin-top: 2em;
    font-family: var(--fonte-principal);
}

.botao-comece-agora {
    background-color: var(--cor-do-botao);
    margin-right: 10px;

}

.botao-ver-planos {
    background-color: transparent;
    border: 2px solid var(--cor-da-fonte);
    text-decoration: none;
    color: var(--cor-da-fonte);
    text-align: center; 
}

.aviso-termos {
    color: var(--cor-aviso);
    font-size: 12px;
}

.vantagens-premium {
    font-size: 40px;
    font-family: var(--fonte-principal);
    margin: 1em;
    text-align: center;
}

.container__vantagens {
    display: flex;
    flex-wrap: nowrap;   
    padding: 3em 10%;
}

.vantagens__item {
    width: 25%;
    text-align: center;
}


















