:root {
    --cor-de-fundo-principal: #FBFBFB;
    --cor-de-fundo-inicio: #000000;
    --cor-de-fundo-secundario: #22A71F;
    --cor-de-fundo-premium: #;
    --cor-de-fundo-plano: #D9D9D9;
    --cor-de-fundo-final: #000000;
    --cor-do-botao: #000000;
    --cor-do-botao-plano: #22A71F;
    --fonte-principal: "Inter";
    --cor-da-fonte: #FBFBFB;
    --cor-aviso: #585757;
    --cor-da-fonte-footer: #C6C6C6; 

}

body {
    background-color: var(--cor-de-fundo-principal);
    font-family: var(--fonte-principal);
    font-weight: 500;
    min-height: 100vh;
    min-width: 100vw;
  }

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

header {
    background-color: var(--cor-de-fundo-inicio);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70%;
    border: 5px
}

nav a {
    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
    text-decoration: none;
    font-weight: 700;
    padding-right: 10px;
}

.barra-vertical {
    color: var(--cor-da-fonte);
    padding-right: 10px;
    width: 20px;
}

.container__secundario {
    background-color: var(--cor-de-fundo-secundario);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6em 20%;
}

.premium__mensal {
    color: var(--cor-da-fonte);
    font-size: 40px;
}

.valor__mensal {
    color: var(--cor-da-fonte);
    font-size: 15px;
    margin-top: 1em;
}

.container__botao a {
    border-radius: 20px;
    padding: 1em;
    color: var(--cor-da-fonte);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao {
    justify-content: flex-start;
    display: flex;
    margin-top: 2em;
    font-family: var(--fonte-principal);
}

.botao-comece-agora {
    background-color: var(--cor-do-botao);
    margin-right: 10px;

}

.botao-ver-planos {
    background-color: transparent;
    border: 2px solid var(--cor-da-fonte);
    text-decoration: none;
    color: var(--cor-da-fonte);
    text-align: center; 
}

.aviso-termos {
    color: var(--cor-aviso);
    font-size: 11px;
}

.vantagens-premium {
    font-size: 40px;
    font-family: var(--fonte-principal);
    margin: 1em;
    text-align: center;
}

.container__vantagens {
    display: flex;
    flex-wrap: nowrap;   
    padding: 3em 10%;
}

.vantagens__item {
    width: 25%;
    text-align: center;
}

.container__planos {
    background-color: var(--cor-de-fundo-plano);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;   
    padding: 3em 15%;
}

.planos__item {
    width: 23%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-de-fundo-principal);
    border-radius: 15px;
    padding: 7px;
}

.mes-gratis {
    display: flex;
    align-items: flex-start;
    margin: 8px 8px;
}

.mes-gratis h3 {
    background-color: #22A71F;
    font-size: 10px;
    border-radius: 5px;
    padding: 5px;
}

.pagamento-unico {
    display: flex;
    align-items: flex-start;
    margin: 2px 8px;
}

.pagamento-unico h3 {
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--cor-do-botao-plano);
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
}

.nome-plano {
    font-family: var(--fonte-principal);
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.valor-plano {
    font-family: var(--fonte-principal);
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.conta-plano {
    font-family: var(--fonte-principal);
    display: flex;
    align-items: flex-start;
    margin: 10px;
    font-size: 14px;
}

.container__tipos {
    margin: 10px;
    padding: 3px;
    text-align: justify;
}

.tipos-planos {
    font-family: var(--fonte-principal);
    font-size: 16px;
    display: flex;
    align-items: center;
    
}

.tipos-planos img {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.planos-item-footer {
    margin-top: 4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
  
}

.planos__item-body {
    flex: 1;
}

.botao-comece-planos {
    background-color: var(--cor-do-botao);
    color: var(--cor-da-fonte);
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    width: 70%;
}

footer {
    background-color: var(--cor-de-fundo-final);
    width: 100%;
    padding: 5em 20% 3em 20%;
}

.container__rodape-menu {
    display: flex;
    justify-content: space-between;
}

.rodape-item h2 {
    color: var(--cor-da-fonte-footer);
    font-size: 13px; 
}

.rodape-item a {
    font-size: 15px;
    text-decoration: none;
    color: var(--cor-da-fonte);
    display: flex; 
    margin-top: 9px;
}

.rodape-final {
    margin-top: 80px;
    display: flex;
    width: 100%;
}

.rodape-texto-final {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.rodape-texto-final a{
    color: var(--cor-da-fonte-footer);
    font-size: 12px;
    text-decoration: none;

}

.item-final {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.item-rodape-final p {
    color: var(--cor-da-fonte-footer);
    text-align: center;
    font-size: 10px;

}

nav a:hover {
    color: var(--cor-do-botao-plano);
}

.botao-comece-planos:hover {
    color: var(--cor-do-botao-plano);
}

.rodape-item a:hover {
    color: var(--cor-do-botao-plano);
}

.rodape-texto-final a:hover {
    color: var(--cor-do-botao-plano);
}
